.edit {
  position: relative;
  padding: 50px;

  .hide-id {
    display: none;
  }

  &__warning {
    display: none;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($black, 0.75);

    .warning-box {
      background-color: var(--color-white);
      width: max-content;
      height: max-content;

      padding: 25px;
      margin: auto;

      border-radius: 1rem;

      text-align: center;
    }
  }

  &__att {
    display: block;

    a {
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__form {
    margin: 25px 0;

    input {
      background-color: var(--color-black);

      max-width: 500px;
      margin-bottom: 25px;

      outline: none;
      border: none;
      border-bottom: 2px solid var(--color-white);
    }

    input.radio {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin: 0 25px 0 5px;
    }

    .stack {
      margin-bottom: 25px;
    }
  }

  &__switch {
    .switch-btn {
      @include menu-btn();

      cursor: pointer;
      margin: 25px 10px 0 0;

      transition: none;
    }

    .switch-btn-active {
      @include menu-btn-hover();
      color: var(--color-black);
    }
  }

  &__projects-list {
    display: none;

    margin: 10px 0;
    & > li {
      cursor: pointer;
      padding: 5px;
      margin-right: 10px;

      border: 1px solid var(--color-white);
      border-radius: 0.5rem;
    }

    .li-active {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  // btn ----------------------------------------------------------
  &__btn,
  &__btn-delete,
  .btn-warnint-delete,
  .btn-warnint-cancel {
    @include menu-btn();
    cursor: pointer;
    margin-right: 25px;
    transition: none;
    h2 {
      transition: none;
    }
    &:hover {
      @include menu-btn-hover();
    }
  }

  &__btn-delete,
  .btn-warnint-delete {
    border-color: var(--color-pink);
    & > h2 {
      color: var(--color-pink);
    }

    &:hover {
      background-color: var(--color-pink);
      box-shadow: 0 0 7px var(--color-pink);

      & > h2 {
        color: var(--color-white);
      }
    }
  }

  .btn-warnint-delete,
  .btn-warnint-cancel {
    background-color: var(--color-white);
  }

  .btn-warnint-cancel {
    border-color: var(--color-mint);
    & > h2 {
      color: var(--color-mint);
    }

    &:hover {
      background-color: var(--color-mint);
      box-shadow: 0 0 7px var(--color-mint);

      & > h2 {
        color: var(--color-white);
      }
    }
  }

  &__btn-delete {
    display: none;
  }
  //------------------------------------------------------------

  &__error {
    display: block;
    color: var(--color-pink);
  }

  &__success {
    display: block;
    color: var(--color-mint);
  }
}
