.footer {
  background-color: var(--color-black);
  width: 100%;
  padding: 25px 0;

  border-top: 5px solid var(--color-white);

  &__wrapper {
    @include bp-tablet {
      flex-wrap: wrap;
    }
  }

  &__info {
    margin: 10px;
    text-align: center;

    i {
      margin: 10px;
    }

    .link-helper {
      cursor: pointer;
      position: relative;

      text-decoration: underline;
      font-weight: 700;

      transition: color 0.25s ease-in-out;

      i {
        transition: color 0.25s ease-in-out;
      }

      &-blue {
        &:hover {
          color: var(--color-blue);

          i {
            color: var(--color-blue);
          }
        }
      }

      &-red {
        &:hover {
          color: var(--color-pink);

          i {
            color: var(--color-pink);
          }
        }
      }

      &-green {
        &:hover {
          color: var(--color-mint);

          i {
            color: var(--color-mint);
          }
        }
      }
    }

    .info-div-helper {
      width: max-content;
      margin: 0 auto;
    }

    .info-span-helper {
      position: relative;
    }

    .copied-tooltip {
      position: absolute;

      top: -50px;
      left: 50%;
      transform: translateX(-50%);

      background-color: var(--color-white);
      padding: 5px;
      opacity: 0;

      border-radius: 1rem;
      box-shadow: 0 0 7px var(--color-white);

      transition: opacity 0.25s ease-in-out;
    }
  }
}
