.edit {
  padding: 50px;

  & > span {
    display: block;

    a {
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__form {
    margin: 25px 0;

    input {
      background-color: var(--color-black);

      max-width: 500px;
      margin-bottom: 25px;

      outline: none;
      border: none;
      border-bottom: 2px solid var(--color-white);
    }

    input.radio {
      margin: 0 25px 0 5px;
    }

    .stack {
      margin-bottom: 25px;
    }
  }

  &__switch {
    .switch-btn {
      @include menu-btn();

      cursor: pointer;
      margin: 25px 25px 0 0;

      transition: color 0.25s ease-in-out;
    }

    .switch-btn-active {
      @include menu-btn-hover();
      color: var(--color-black);
    }
  }

  &__btn {
    @include menu-btn();
    cursor: pointer;

    &:hover {
      @include menu-btn-hover();
    }
  }

  &__error {
    display: block;
    color: var(--color-pink);
  }
}
