.nav {
  align-items: flex-end;

  &__helper {
    cursor: pointer;
    position: relative;
    width: max-content;

    &:hover {
      .nav__menu {
        @include menu-btn-hover();
      }

      .nav__items {
        @include nav-items-hover();
      }
    }
  }

  &__menu {
    @include menu-btn();
  }

  &__items {
    position: absolute;
    top: 0;
    right: -25px;

    width: max-content;
    height: 0px;
    padding: 0 25px;

    text-align: right;

    & > h2 {
      width: 100%;
      margin: 10px 0;
    }

    & > :first-child,
    & > :nth-child(2),
    & > :last-child {
      padding: 0.25em 0.5em;
      opacity: 0;
      transition: transform 0.25s ease-in, opacity 0.25s ease-in,
        color 0.25s ease-in-out;
    }

    & > :first-child {
      transform: translateY(75%);

      &:hover {
        color: $color-blue;
      }
    }

    & > :nth-child(2) {
      transform: translateY(-70%);

      &:hover {
        color: $color-pink;
      }
    }

    & > :last-child {
      transform: translateY(-200%);

      &:hover {
        color: $color-mint;
      }
    }
  }
}

.menu-active {
  @include bp-tablet {
    .nav__menu {
      @include menu-btn-hover();
    }

    .nav__items {
      @include nav-items-hover();
    }
  }
}
