.projects {
  position: relative;
  margin: 100px 0;

  &__line {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--color-black);
    width: 100%;

    border-top: 5px solid var(--color-white);
    border-bottom: 5px solid var(--color-white);
    transform: skewY(-5deg);
  }

  &__sadface {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__loading {
    position: relative;

    width: 50px;
    height: 50px;
    margin-top: 25px;

    border: 10px solid var(--color-white);
    border-radius: 50%;

    animation: loading 1s linear infinite forwards;

    & > span {
      position: absolute;
      top: -10px;
      left: -10px;

      display: block;
      background-color: var(--color-black);
      width: 25px;
      height: 25px;
    }
  }

  &__title {
    text-align: center;
    padding-top: 100px;
  }

  &__filter {
    position: relative;

    &:hover {
      width: 350px;

      .filter-btn {
        @include menu-btn-hover();
      }

      .filter-items {
        width: 450px;
        height: 260px;

        border-color: var(--color-white);

        transition: height 1s ease-in-out, width 0.25s ease-in-out;

        @include bp-med {
          width: 375px;
          height: 240px;
        }

        @include bp-tablet {
          width: 300px;
          height: 210px;
        }
      }
    }

    .filter-btn {
      @include menu-btn();

      cursor: pointer;
      margin: 20px auto;
    }

    .filter-items {
      overflow: hidden;
      grid-auto-rows: max-content;

      position: absolute;
      z-index: 2;
      left: 50%;

      background-color: rgba($black, 0.9);
      width: 0;
      height: 0;

      border: 2px solid var(--color-black);
      border-radius: 1rem;

      transform: translateX(-50%);
      transition: height 1s ease-in-out, width 1s step-end,
        border-color 1s step-end;

      .item {
        cursor: pointer;

        height: max-content;
        width: auto;
        margin: 10px;
        padding: 5px;

        border: 2px solid var(--color-white);
        border-radius: 0.25em;

        text-align: center;

        transition: color 0.25s ease-in-out;
      }
    }
  }

  &__cards {
    min-height: 400px;
    padding-bottom: 100px;
    @include project-card();
  }
}

.filter-active {
  @include bp-tablet {
    .filter-btn {
      @include menu-btn-hover();
    }

    .filter-items {
      width: 300px;
      height: 210px;

      border-color: var(--color-white);

      transition: height 1s ease-in-out, width 0.25s ease-in-out;
    }
  }
}
