.projects {
  position: relative;
  margin: 100px 0;

  &__line {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: $black;
    width: 100%;

    border-top: 5px solid $white;
    border-bottom: 5px solid $white;
    transform: skewY(-5deg);
  }

  &__title {
    text-align: center;
    padding-top: 100px;
  }

  &__filter {
    position: relative;

    &:hover {
      width: 350px;

      .filter-btn {
        @include menu-btn-hover();
      }

      .filter-items {
        height: 300px;
        width: 350px;

        transition: height 1s ease-in-out, width 0.25s ease-in-out;
      }
    }

    .filter-btn {
      @include menu-btn();

      cursor: pointer;
      margin: 20px auto;
    }

    .filter-items {
      overflow: hidden;
      grid-auto-rows: max-content;

      position: absolute;
      z-index: 2;
      left: 50%;

      background-color: $black;
      width: 0;
      height: 0;

      border-top: 2px solid $white;
      border-bottom: 2px solid $white;

      transform: translateX(-50%);
      transition: height 1s ease-in-out, width 1s step-end;

      .item {
        cursor: pointer;

        height: max-content;
        width: auto;
        margin: 10px;
        padding: 5px;

        border: 2px solid white;
        border-radius: 0.25em;

        text-align: center;
      }
    }
  }

  &__cards {
    padding-bottom: 100px;
    @include project-card();
  }
}

.filter-active {
  @include bp-tablet {
    .filter-btn {
      @include menu-btn-hover();
    }

    .filter-items {
      height: 300px;
      width: 350px;

      transition: height 1s ease-in-out, width 0.25s ease-in-out;
    }
  }
}
