@keyframes arrow-up-down {
  from {
    transform: translateY(-7px) rotate(-90deg);
  }
  to {
    transform: translateY(7px) rotate(-90deg);
  }
}

@keyframes blinking-border {
  from {
    border-color: var(--color-white);
  }
  to {
    border-color: transparent;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(-360deg);
  }
}
