@keyframes arrow-up-down {
  from {
    transform: translateY(-7px) rotate(-90deg);
  }
  to {
    transform: translateY(7px) rotate(-90deg);
  }
}

@keyframes blinking-border {
  from {
    border-color: $white;
  }
  to {
    border-color: transparent;
  }
}

@mixin color-svg-mixing($name, $color1, $color2) {
  @keyframes #{$name} {
    from {
      fill: $color1;
    }
    to {
      fill: $color2;
    }
  }
}
