//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$grey: #495057;
$grey-light: #ced4da;
$white: #fafafa;

$color-purple: #8400ff;
$color-blue: #00c3ff;
$color-green: #005741;
$color-green-light: #00ebb0;
$color-yellow: #fbff00;
$color-red: #ff4800;
$color-pink: #e100ff;
$color-pink-light: #ef7aff;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
