//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$grey: #495057;
$steel: #ced4da;
$white: #fafafa;

$color-purple: #480ca8;
$color-blue: #4cc9f0;
$color-green: #1b4332;
$color-mint: #00ebb0;
$color-orange: #ff4800;
$color-pink: #ff0a54;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
