@import "./varibles";
@import "./mixins";
@import "./animations";
@import "./components";
@import "./globals";

@import "./sections/parallax";
@import "./sections/nav";
@import "./sections/header";
@import "./sections/projects";
@import "./sections/profile";
@import "./sections/footer";

@import "./sections/error";
